.form{

    flex-direction: column;
    background-color: white;
    width: 430px;
    margin: 195px auto 203px auto;
    border-radius: 10px;
}
@media screen and (max-width: 875px) {
    .form{
        width: calc(100% - 19px*2);
        margin-top: 123px;
    }
    
}